.wrapper{
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    background-color: hotpink;    
}
.heading{
    color: green;

}
.card{
    margin: 0 auto;
    background-color: aquamarine;
    width: 60%;
}
.box1{
    height: 100px;
    width: 100px;
    background-color: bisque;
    border-radius: 100%;
    border: 1px solid black;
}
.profile{
    width: 100%;
    border-radius: 100%;
    height: 100%;
}